<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-4">Editar Produto</h1>
      <form (ngSubmit)="updateProduto()">
        <div class="form-group mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" [(ngModel)]="produto.nome" name="nome" required>
        </div>
        <div class="form-group mb-3">
          <label for="codigoBarras" class="form-label">Código de Barras</label>
          <input type="text" class="form-control" id="codigoBarras" [(ngModel)]="produto.codigoBarras" name="codigoBarras" required>
        </div>
        <div class="form-group mb-3">
          <label for="quantidade" class="form-label">Quantidade</label>
          <input type="number" class="form-control" id="quantidade" [(ngModel)]="produto.quantidade" name="quantidade" required>
        </div>
        <div class="form-group mb-3">
          <label for="categoria" class="form-label">Categoria</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="novo" [(ngModel)]="produto.categoria" name="categoria" value="Novo" required>
            <label class="form-check-label" for="novo">Novo</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="usado" [(ngModel)]="produto.categoria" name="categoria" value="Usado" required>
            <label class="form-check-label" for="usado">Usado</label>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="preco" class="form-label">Preço</label>
          <input type="number" class="form-control" id="preco" [(ngModel)]="produto.preco" name="preco" required>
        </div>
        <div class="form-group mb-3">
          <label for="status" class="form-label">Status</label>
          <select class="form-control" id="status" [(ngModel)]="produto.status" name="status">
            <option [ngValue]="true">Ativo</option>
            <option [ngValue]="false">Inativo</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Atualizar</button>
      </form>
    </div>
  </div>
</div>
